.svg-icon {
    /* Place the icon on the text baseline. */
    position: relative;
    top: 0.125em;

    /* Prevent the icon from shrinking inside a flex container. */
    flex-shrink: 0;

    /* Scale the icon to match the font-size of the parent element. */
    height: 1em;
    width: 1em;

    /* Let the icon take whatever color the parent has. */
    fill: currentColor;
    stroke: currentColor;

    /* If the icon is used on a link, which has a color transition,
    we can also use a transition on the fill value. */
    transition: fill 0.3s;
}
