@use "@styles/abstracts" as *;

.contact-item {
    --flex-align: flex-end;
    --gap: var(--space-md);

    @media (max-width: $breakpoint-medium) {
        --flex-row-gap: var(--space-xxs);
    }
}

.contact-item__icon {
    width: 2.75em;
    height: auto;
    fill: none;
    stroke: var(--clr-medium);
}
