/* breakpoints */
$breakpoint-small: 800px;
$breakpoint-medium: 930px;
$breakpoint-large: 930px;

$breakpoint-phone: #{$breakpoint-small};
$breakpoint-desktop: #{$breakpoint-medium};
$breakpoint-tablet: #{$breakpoint-large};
