---
// Libraries and Packages
import Icon from "astro-icon";

// Styles
import "./TheFooter.scss";
---

<footer id="footer" class="[ footer ] [ px-md bg-darkest clr-white fs-300 ]">
    <div class="full-width">
        <div class="flex-group">
            <div>
                <p>
                    Copyright © 2024. Designed&nbsp;by&nbsp;<a
                        href="https://ivan-rodrigues.com"
                        target="_blank">Ivan&nbsp;Rodrigues</a
                    >
                </p>
            </div>
            <!--<div class="[ footer__social-links ] [ flex-group ]">-->
            <!--    <a class="button clr-darkest bg-lightest" href="https://www.linkedin.com/in/ivanrodrigues92/"-->
            <!--       target="_blank">-->
            <!--        <Icon name="linkedin" class="svg-icon" />-->
            <!--    </a>-->
            <!--    <a class="button clr-darkest bg-lightest" href="https://github.com/Ivanho92" target="_blank">-->
            <!--        <Icon name="github" class="svg-icon" />-->
            <!--    </a>-->
            <!--</div>-->
        </div>
    </div>
</footer>
