---
// Styles
import "./TheFooter.scss";

// Libraries
// import { Icon } from 'astro-icon/components'

// Composables
import {getLocaleFromUrl, useTranslations} from "@i18n/utils";

// JavaScript
const t = useTranslations(getLocaleFromUrl(Astro.url));
const year = new Date().getFullYear();
---

<footer
    id="footer"
    class="[ footer ] [ px-md bg-darkest clr-light-neutral fs-200 ]"
>
    <div class="full-width">
        <div class="flex-group">
            <div>
                <p>
                    Copyright © {year}
                    {t("footer.by")}
                    <a href="https://ivan-rodrigues.com" target="_blank"
                        >Ivan&nbsp;Rodrigues</a
                    >. {t("footer.rights")}.
                </p>
            </div>
            <!--<div class="[ footer__social-links ] [ flex-group ]">-->
            <!--    <a class="button clr-darkest bg-lightest" href="https://www.linkedin.com/in/ivanrodrigues92/"-->
            <!--       target="_blank">-->
            <!--        <Icon name="linkedin" class="svg-icon" />-->
            <!--    </a>-->
            <!--    <a class="button clr-darkest bg-lightest" href="https://github.com/Ivanho92" target="_blank">-->
            <!--        <Icon name="github" class="svg-icon" />-->
            <!--    </a>-->
            <!--</div>-->
        </div>
    </div>
</footer>
