/* text colors */
.clr-primary {
    color: var(--clr-primary);
}
.clr-primary-shade {
    color: var(--clr-primary-shade);
}
.clr-primary-tint {
    color: var(--clr-primary-tint);
}
.clr-darkest {
    color: var(--clr-darkest);
}
.clr-dark {
    color: var(--clr-dark);
}
.clr-medium {
    color: var(--clr-medium);
}
.clr-light {
    color: var(--clr-light);
}
.clr-lightest {
    color: var(--clr-lightest);
}

.clr-secondary {
    color: var(--clr-secondary);
}
.clr-secondary-shade {
    color: var(--clr-secondary-shade);
}
.clr-secondary-tint {
    color: var(--clr-secondary-tint);
}

.clr-darkest-neutral {
    color: var(--clr-darkest-neutral);
}
.clr-dark-neutral {
    color: var(--clr-dark-neutral);
}
.clr-medium-neutral {
    color: var(--clr-medium-neutral);
}
.clr-light-neutral {
    color: var(--clr-light-neutral);
}
.clr-lightest-neutral {
    color: var(--clr-lightest-neutral);
}

.clr-black {
    color: var(--clr-black);
}
.clr-white {
    color: var(--clr-white);
}
.clr-transparent {
    color: var(--clr-transparent);
}

/* background */
.bg-primary {
    background-color: var(--clr-primary);
}
.bg-primary-shade {
    background-color: var(--clr-primary-shade);
}
.bg-darkest {
    background-color: var(--clr-darkest);
}
.bg-dark {
    background-color: var(--clr-dark);
}
.bg-medium {
    background-color: var(--clr-medium);
}
.bg-light {
    background-color: var(--clr-light);
}
.bg-lightest {
    background-color: var(--clr-lightest);
}

.bg-secondary {
    background-color: var(--clr-secondary);
}
.bg-secondary-shade {
    background-color: var(--clr-secondary-shade);
}
.bg-secondary-tint {
    background-color: var(--clr-secondary-tint);
}

.bg-darkest-neutral {
    background-color: var(--clr-darkest-neutral);
}
.bg-dark-neutral {
    background-color: var(--clr-dark-neutral);
}
.bg-medium-neutral {
    background-color: var(--clr-medium-neutral);
}
.bg-light-neutral {
    background-color: var(--clr-light-neutral);
}
.bg-lightest-neutral {
    background-color: var(--clr-lightest-neutral);
}

.bg-black {
    background-color: var(--clr-black);
}
.bg-white {
    background-color: var(--clr-white);
}
.bg-transparent {
    background-color: var(--clr-transparent);
}

/* fill */
.fill-primary {
    fill: var(--clr-primary);
}
.fill-primary-shade {
    fill: var(--clr-primary-shade);
}
.fill-darkest {
    fill: var(--clr-darkest);
}
.fill-dark {
    fill: var(--clr-dark);
}
.fill-medium {
    fill: var(--clr-medium);
}
.fill-light {
    fill: var(--clr-light);
}
.fill-lightest {
    fill: var(--clr-lightest);
}

.fill-secondary {
    fill: var(--clr-secondary);
}
.fill-secondary-shade {
    fill: var(--clr-secondary-shade);
}
.fill-secondary-tint {
    fill: var(--clr-secondary-tint);
}

.fill-darkest-neutral {
    fill: var(--clr-darkest-neutral);
}
.fill-dark-neutral {
    fill: var(--clr-dark-neutral);
}
.fill-medium-neutral {
    fill: var(--clr-medium-neutral);
}
.fill-light-neutral {
    fill: var(--clr-light-neutral);
}
.fill-lightest-neutral {
    fill: var(--clr-lightest-neutral);
}

.fill-black {
    fill: var(--clr-black);
}
.fill-white {
    fill: var(--clr-white);
}
.fill-transparent {
    fill: var(--clr-transparent);
}
