---
import Layout from "../layouts/BaseLayout.astro";
import {Content} from "../content/pages/about.md";
import profilePicture from "../images/elise.png";
import {Image} from "astro:assets";
---

<Layout title="Elise Grimm - About">
    <main class="[ about ] [ wrapper section ]">
        <div class="about__content">
            <Image
                src={profilePicture}
                alt=""
                class="about__picture"
                style="height: auto"
            />
            <div class="flow">
                <Content />
            </div>
        </div>
    </main>
</Layout>

<style>
    .about__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .about__picture {
        border-radius: 100%;
        filter: sepia(25%) hue-rotate(80deg);
    }
</style>
