---
// Images
import {Image, getImage} from "astro:assets";
import highResProfilePicture from "@images/elise.png";
import lowResPicture from "@images/lowres/lowres_elise.png";

// Components
import BaseLayout from "./BaseLayout.astro";
import CoverImage from "../components/CoverImage/CoverImage.astro";

// Composables
import {getLocaleFromUrl, useTranslations} from "@i18n/utils";

// JavaScript
const t = useTranslations(getLocaleFromUrl(Astro.url));
const {title, coverImage} = Astro.props.frontmatter;

const lowResProfilePicture = await getImage({src: lowResPicture});
---

<BaseLayout title={`Elise Grimm - ${t("nav.about")}`}>
    <CoverImage title={title} background-image={coverImage} class="clr-white" />
    <main
        class="wrapper section"
        data-aos="fade-zoom-in"
        data-aos-easing="ease-in-back"
    >
        <div class="flow">
            <Image
                src={highResProfilePicture}
                alt={t("about.picture.alt")}
                class="[ profile__picture ] [ blur-load ]"
                style={{
                    height: "auto",
                    backgroundImage: `url('${lowResProfilePicture.src}')`,
                }}
                data-aos="fade-left"
                data-aos-offset="250"
            />
            <slot />
        </div>
    </main>
</BaseLayout>

<style lang="scss">
    @use "@styles/abstracts" as *;

    .profile__picture {
        filter: sepia(0.2) hue-rotate(65deg);

        border-radius: 100vh;
        float: right;
        margin-inline: var(--space-md);
        margin-block: var(--space-md);

        @media (width < $breakpoint-medium) {
            float: none;
            margin-inline: auto;
        }
    }
</style>
