---
// Components
import BaseLayout from "./BaseLayout.astro";
import CoverImage from "../components/CoverImage/CoverImage.astro";

// Composables
import {getLocaleFromUrl, useTranslations} from "@i18n/utils";

// JavaScript
const t = useTranslations(getLocaleFromUrl(Astro.url));
const {title, coverImage, id: pageID} = Astro.props.frontmatter;
---

<BaseLayout title={`Elise Grimm - ${t(`${pageID}`)}`}>
    <CoverImage title={title} background-image={coverImage} class="clr-white" />
    <main class="wrapper section flow">
        <slot />
    </main>
</BaseLayout>
