
---
// Components
import BaseLayout from "@layouts/BaseLayout.astro";

// Composables
import {
    getLocaleFromUrl,
    useTranslations,
    useTranslatedPath,
} from "@i18n/utils";
import {getHighResImage,getLowResImage} from "../images/utils";

// Javascript
const {coverImage: bgImageName} = Astro.props.frontmatter;

console.log(bgImageName);

const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);
const translatePath = useTranslatedPath(locale);

const highResBackgroundImage = await getHighResImage(bgImageName);
const lowResBackgroundImage = await getLowResImage(`lowres_${bgImageName}`);
const coverImageStyle = `
    background:	 		
        linear-gradient(
                90deg,
                rgba(0, 0, 0, 0.66) 0%,
                rgba(0, 0, 0, 0) 66%
        ),
        url('${highResBackgroundImage.src}'),
        url('${lowResBackgroundImage.src}'),
        var(--clr-darkest);
        
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
`;
---

<BaseLayout title={`Elise Grimm - ${t("nav.home")}`}>
    <main class="wrapper" style={coverImageStyle}>
        <div class="homepage__container">
            <div class="homepage__content">
                <div class="[ homepage__body ] [ section ]">
                    <div class="clr-white">
                        <h1>{t("homepage.fullname")}</h1>
                        <p>{t("homepage.jobtitle")}</p>
                    </div>
                    <div class="flex-group" style="--flex-gap: var(--space-md)">
                        <a
                            class="button"
                            data-variant="outline-light"
                            href={translatePath("/therapie")}
                            >{t("cta.therapy")}</a
                        >
                        <a class="button" href={translatePath("/rdv")}
                            >{t("cta.appointment")}</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </main>
</BaseLayout>

<style lang="scss">
    @use "@styles/abstracts" as *;

    main {
        flex-grow: 1;
        min-height: 545px;
    }

    .homepage__content {
        --flex-gap: var(--space-lg);
    }

    .homepage__body {
        display: grid;
        gap: var(--space-xl);

        @media (width <= $breakpoint-small) {
            width: 100%;
        }
    }
</style>
