---
// Components
import BaseLayout from "@layouts/BaseLayout.astro";
import CoverImage from "@components/CoverImage/CoverImage.astro";
import GoogleMaps from "@components/GoogleMaps/GoogleMaps.astro";

// Composables
import {getLocaleFromUrl, useTranslations} from "@i18n/utils";

// JavaScript
const t = useTranslations(getLocaleFromUrl(Astro.url));
const {
    title,
    coverImage,
    id: pageID,
    importantMessage,
} = Astro.props.frontmatter;
---

<BaseLayout title={`Elise Grimm - ${t(`${pageID}`)}`}>
    <CoverImage title={title} background-image={coverImage} class="clr-white" />
    <main
        class="wrapper section"
        data-aos="fade-zoom-in"
        data-aos-easing="ease-in-back"
    >
            <div class="map-container">
                <div class="flow">
                    <slot />
                </div>
                <GoogleMaps />
            </div>

            <div class="[ important-message ] [ bg-lightest box-shadow mt-xl ]">
                <Fragment set:html={importantMessage} />
            </div>
    </main>
</BaseLayout>

<style lang="scss">
    @use "@styles/abstracts" as *;

    .map-container {
        display: grid;
        gap: var(--space-md);

        @media (width > $breakpoint-medium) {
            grid-template-columns: 1fr 1fr;
        }
    }

    .important-message {
        border-radius: 13px;
        padding: var(--space-md);
    }
</style>
