@use "@styles/abstracts" as *;

.header {
    --section-padding: var(--space-md);

    box-shadow: 0 1px 6px 0 rgb(30 77 74 / 20%);

    details {
        cursor: pointer;
    }

    details[open] summary ~ * {
        animation: sweep 300ms ease-in-out;
    }

    @keyframes sweep {
        0% {
            opacity: 0;
            margin-left: -10px;
        }
        100% {
            opacity: 1;
            margin-left: 0;
        }
    }

    @media (min-width: $breakpoint-small) {
        details {
            display: none;
        }
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    & .nav__menu .language-picker {
        display: none;
    }

    @media (max-width: $breakpoint-small) {
        & .language-picker {
            display: none;
        }

        & .nav__menu .language-picker {
            display: flex;
            justify-content: center;
        }
    }
}

.header__logo {
    text-decoration: none;

    &:is(:hover, :focus) {
        color: var(--clr-primary);
    }
}

.header__contact-details {
    --flex-justify: space-evenly;

    @media (max-width: $breakpoint-small) {
        --flex-justify: flex-start;
        --flex-row-gap: var(--space-lg);
        flex-direction: column;

        &[data-device="desktop"] {
            display: none;
        }
    }

    & .separator {
        @media (max-width: $breakpoint-small) {
            display: none;
        }
    }
}
