---
// Styles
import "./TheHeader.scss";

// Components
import TheLanguagePicker from "../TheLanguagePicker/TheLanguagePicker.astro";
import TheNavigation from "@components/TheNavigation/TheNavigation.astro";
import ContactDetailsItem from "../ContactDetailsItem/ContactDetailsItem.astro";

// Composables
import {
    getLocaleFromUrl,
    useTranslations,
    useTranslatedPath,
} from "@i18n/utils";

// Javascript
const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);
const translatePath = useTranslatedPath(locale);
---

<header class="[ header ] [ full-width bg-white ]">
    <div class="[ header__container ] [ px-sm ]">
        <div class="flex-group" style="  --flex-align: center">
            <a
                class="[ header__logo ] [ ff-heading clr-dark fs-700 fw-bold line-height-heading ]"
                href={translatePath("/")}
            >
                EG
            </a>
            <TheLanguagePicker separator="left" />
        </div>
        <TheNavigation />
    </div>
    <div class="[ contact-details ] [ full-width bg-lightest ]">
        <details id="contact-details">
            <summary id="contact-details-toggle" class="px-md clr-primary"
                >{t("header.showdetails")}</summary
            >
            <div
                class="[ header__contact-details ] [ flex-group pb-md fs-300 ]"
            >
                <ContactDetailsItem
                    key="contact-details-phone"
                    category={t("header.phone")}
                    icon="phone"
                    text="0474/92.25.32"
                    link="tel:0474922532"
                />
                <div class="separator"></div>
                <ContactDetailsItem
                    key="contact-details-email"
                    category={t("header.email")}
                    icon="mail"
                    text="elisembgrimm@gmail.com"
                    link="mailto:elisembgrimm@gmail.com"
                />
                <div class="separator"></div>
                <ContactDetailsItem
                    key="contact-details-location"
                    category={t("header.schedule")}
                    icon="clock"
                    text="1030 Schaerbeek"
                    link="https://maps.app.goo.gl/fRxDkVAbP5jbx5FL9"
                    openInNewTab
                />
            </div>
        </details>

        <div
            class="[ header__contact-details ] [ flex-group px-md fs-300 ]"
            data-device="desktop"
        >
            <ContactDetailsItem
                key="contact-details-phone"
                category={t("header.phone")}
                icon="phone"
                text="0474/92.25.32"
                link="tel:0474922532"
            />
            <div class="separator"></div>
            <ContactDetailsItem
                key="contact-details-email"
                category={t("header.email")}
                icon="mail"
                text="elisembgrimm@gmail.com"
                link="mailto:elisembgrimm@gmail.com"
            />
            <div class="separator"></div>
            <ContactDetailsItem
                key="contact-details-location"
                category={t("header.schedule")}
                icon="clock"
                text="1030 Schaerbeek"
                link="https://maps.app.goo.gl/fRxDkVAbP5jbx5FL9"
                openInNewTab
            />
        </div>
    </div>
</header>

<script>
    const contactDetails = document.getElementById("contact-details");
    const contactDetailsToggle = document.getElementById(
        "contact-details-toggle",
    );

    if (!contactDetails || !contactDetailsToggle)
        throw new Error("contact details error");

    contactDetailsToggle.addEventListener("click", () => {
        const contactDetailsIsOpened = !contactDetails.hasAttribute("open");
        localStorage.setItem(
            "contactDetailsIsOpened",
            contactDetailsIsOpened.toString(),
        );
    });

    setTimeout(() => {
        const shouldOpenContactDetails = JSON.parse(
            localStorage.getItem("contactDetailsIsOpened") ?? "",
        );
        shouldOpenContactDetails || shouldOpenContactDetails === null
            ? contactDetails.setAttribute("open", "")
            : contactDetails.removeAttribute("open");
    }, 500);
</script>
