@use "@styles/abstracts" as *;

.header {
    --section-padding: var(--space-md);

    details {
        cursor: pointer;
    }

    details[open] summary ~ * {
        animation: sweep 300ms ease-in-out;
    }

    @keyframes sweep {
        0% {
            opacity: 0;
            margin-left: -10px;
        }
        100% {
            opacity: 1;
            margin-left: 0px;
        }
    }

    @media (width >= $breakpoint-small) {
        details {
            display: none;
        }
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header__logo {
    text-decoration: none;

    &:is(:hover, :focus) {
        color: var(--clr-primary);
    }
}

.header__contact-details {
    --flex-justify: space-evenly;

    @media (width < $breakpoint-small) {
        --flex-justify: flex-start;
        --flex-row-gap: var(--space-lg);
        flex-direction: column;

        &[data-device="desktop"] {
            display: none;
        }
    }

    & .separator {
        width: 1px;
        height: 100%;
        background-color: var(--clr-light-neutral);

        @media (width < $breakpoint-small) {
            display: none;
        }
    }
}
