@use "@styles/abstracts" as *;

.nav {
    & .nav__menu {
        @media (width <= $breakpoint-medium) {
            position: fixed;
            background: var(--clr-white);

            visibility: hidden;

            opacity: 0;
            translate: (10%);

            &[data-state-expanded] {
                z-index: 99;

                visibility: visible;
                inset: 0;

                transition:
                    opacity 200ms ease,
                    translate 300ms ease;

                opacity: 1;
                translate: (0);
            }
        }

        & ul {
            display: flex;
            align-items: baseline;
            gap: var(--space-lg);

            @media (width <= $breakpoint-medium) {
                display: grid;
                justify-items: center;
                align-content: center;
                height: 100%;
            }
        }
    }

    & a {
        font-size: var(--fs-400);
        text-decoration: none;

        &:is(:hover, :focus):not(.button) {
            text-decoration: underline;
            color: var(--clr-primary);
        }

        @media (width <= $breakpoint-medium) {
            font-size: var(--fs-500);
        }
    }

    & .open-nav,
    .close-nav {
        &:is(:hover, :focus-visible) > svg {
            color: var(--clr-primary);
        }
    }

    & .open-nav {
        display: none;

        cursor: pointer;
        border: none;
        background-color: transparent;

        @media (width <= $breakpoint-medium) {
            display: block;
        }
    }

    & .close-nav {
        display: none;

        background: none;
        border: none;

        position: fixed;
        top: var(--space-lg);
        right: var(--space-lg);

        cursor: pointer;

        //&:is(:hover, :focus) > svg {
        //    color: var(--clr-primary);
        //}

        @media (width <= $breakpoint-medium) {
            display: block;
        }
    }
}
